aside {
  min-height: 450px;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #002ab3;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #fffeaf;
    color: #002ab3;
    text-decoration: none;
  }

  #footer {
    color: #000000;
    font-size: 14px;
    background: linear-gradient(to bottom, #ffffff 0%, #809fff 100%);
  }
  
  
  #chargement {
    z-index: 5;
    position: absolute;
    top: -50px;
    background-color: #ffffff;
    height: 1000px
  }
  #spinner {
    position: relative;
    top: 200px;
  }